* {
    font-family:'Times New Roman', Times, serif;
    background-color: aquamarine;
    text-align: center;
};

body {
    text-align: center;
    background-color: rgb(237, 247, 244);
    color: rgb(174, 68, 68);
}; 


